/* Variables globales */
:root{
  --softgrey: #eae0f0;
  --white: #fafdff;
  --blue: #1f5fff;
}

/* Estilos globales */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
  background: linear-gradient( var(--white),var(--softgrey));
}

/* Navbar */
.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

/* Content */
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
/* Encoder */
.encoder, .result{
  display: flex;
  flex-direction: column;
  height: calc(90vh);
  padding: 10px;
  width: calc(65% - 70px);
  padding: 20px;
  max-width: 515px;
}

#text_encode{
  height: calc(100% - 60px - 2.5rem);
  border: none;
  outline: none;
  resize: none;
  box-shadow: 3px 3px 7px #e0e0e0;
  background-color: transparent;
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 12px;
}

.encoder>label{
  font-size: .75rem;
  margin-bottom: 10px;
  font-weight: bold;
  height: 20px;
  width: 100%;
  text-align: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button{
  height: 2.5rem;
  border-radius: 8px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 2px 2px 5px #b0b0ff;
}

.button_encode, .button_decode{
  width: calc(50% - 10px);
}

.button_encode{
  color: var(--softgrey);
  background: linear-gradient(.25turn, #1f5fff 70%, #2f3ffa);
}

.button_decode, .button_copy{
  color: var(--blue);
  background-color: transparent;
  border: 2px solid var(--blue);
}

.button_encode:active, 
.button_decode:active,
.button_copy:active{
  background: var(--white);
  border: 2px solid var(--softgrey);
  color: var(--softgrey);
  scale: 0.95;
  box-shadow: #0e0e0e;
}

/* Result */
.result{
  padding: 20px;
  max-width: 385px;
  width: calc(35% + 70px);
  height: calc(90vh - 22px);
  background: transparent;
}

.result_content{
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px var(--softgrey);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text_result{
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  outline: none;
  height: calc(100% - 3rem);
  padding: 20px;
}

.button_copy{
  width: 95%;
}

@media (orientation: portrait){
  body{
    max-height: 200vh;
    height: 200vh;
    background: var(--softgrey);
  }
  .content{
    flex-direction: column;
    align-items: center;
  }
  .encoder{
    width: 100%;
  }
  .result{
    width: 100%;
  }
  .encoder>label{
    margin-bottom: 20px;
  }
}

.hide{
  display: none;
}